system/profiles/codinf/godot/build/src/*
system/profiles/codinf/godot/build/bin/*
.vscode/
.idea/
.vs/

user/niki/config/ncmpcpp/error.log
user/niki/config/emacs/emacs.d/*
user/niki/config/emacs/**/*.elc

